$mt-dark: #2a3342;
$mt-gray: #767879;
$mt-orange-dark: #c9530f;
$mt-orange: #2a3342;
$mt-orange-light: #f38a12;


$theme-colors: ( 
      "gray-dark": #000000,
      "mt-dark": $mt-dark, 
      "mt-gray": $mt-gray,
     // "mt-orange": $mt-orange,
      "mt-orange-light": $mt-orange-light,
      "mt-orange-dark" : $mt-orange-dark

    
);

$link-color: $mt-orange-dark;
$link-hover-color: darken ($link-color, 15%);


.bg-banner-header {
     background-image: 
        linear-gradient(
           rgba(0,0,0,0),
           rgba(0,0,0, 0.85)
        ) ;
}

.border-card-footer {
   border-left: solid 4px $mt-orange-light !important;
   border-top: none !important;
   border-bottom: none !important;
   border-right: none !important;
}
.banner-header {
   height: 500px;
   object-fit: cover;
}
.teste {
   background-color: #b86a3a;
}

.bg-imgfree {
   background: url("png-pattern.png") #767676 repeat;
}

@import"../node_modules/bootstrap/scss/bootstrap"; 