$lc-dark: #2a3342;
$lc-gray: #82c8e9;
$lc-orange-dark: #075685;
$lc-orange: #1168eb;
$lc-orange-light: #109797;
$lc-abacate: #9bf804;

$theme-colors: ( 
    "lc-dark": $lc-dark, 
    "lc-gray": $lc-gray,
    "lc-orange": $lc-orange,
    "lc-orange-light": $lc-orange-light,
    "lc-orange-dark" : $lc-orange-dark,
    "lc-abacate": $lc-abacate
);

$link-color: $lc-orange-dark;
$link-hover-color: darken ($link-color, 15%);
$enable-rounded: false;


.bg-banner-header {
     background-image: 
        linear-gradient(
           rgba(0,0,0,0),
           rgba(0,0,0, 0.85)
        ) ;
}

.border-card-footer {
   border-left: solid 4px $lc-orange-light !important;
   border-top: none !important;
   border-bottom: none !important;
   border-right: none !important;
}
.banner-header {
   height: 600px;
   object-fit: cover;
}

@import"../node_modules/bootstrap/scss/bootstrap"; 