$mt-dark: #2a3342;
$mt-gray: #82c8e9;
$mt-orange-dark: #cf8515;
$mt-orange: #1168eb;
$mt-orange-light: #109797;
$mt-abacate: #9bf804;

$theme-colors: ( 
    "mt-dark": $mt-dark, 
    "mt-gray": $mt-gray,
    "mt-orange": $mt-orange,
    "mt-orange-light": $mt-orange-light,
    "mt-orange-dark" : $mt-orange-dark,
    "mt-abacate": $mt-abacate
);

$link-color: $mt-orange-dark;
$link-hover-color: darken ($link-color, 15%);


.bg-banner-header {
     background-image: 
        linear-gradient(
           rgba(0,0,0,0),
           rgba(0,0,0, 0.85)
        ) ;
}

.border-card-footer {
   border-left: solid 4px $mt-orange-light !important;
   border-top: none !important;
   border-bottom: none !important;
   border-right: none !important;
}
.banner-header {
   height: 500px;
   object-fit: cover;
}
.header-ad {
  
   //width: 1000px;
   max-width: 100%;
}



.footer-ad {
   //width: 780px;
   max-width: 100%;
}
@import"../node_modules/bootstrap/scss/bootstrap"; 