$lc-dark: #2a3342;
$lc-gray: #d3d0d0;
$lc-orange: #e4a014;
$lc-orange-light: #f2bf26;
$lc-abacate: #00ff80;

$theme-colors: (
    "lc-dark": $lc-dark, 
    "lc-gray": $lc-gray,
    "lc-orange": $lc-orange,
    "lc-orange-light": $lc-orange-light,
    "lc-abacate": $lc-abacate
);

$link-color: $lc-orange-light;
$link-hover-color: darker ($link-color, 15%);


.bg-banner-header {
     background-image: 
        linear-gradient(
           rgba(0,0,0,0),
           rgba(0,0,0, 0.8)
        ) ;
}

@import"../node_modules/bootstrap/scss/bootstrap"; 